cap.png
orikou*/
zip/
source/hsptmp
source/obj
source/save/
source/packfile
source/start.ax
source/pic/
pic/
save/
source/hsptmp.i
source/*.wav
source/theme/
theme/flat design/hsptmp
theme/flat design/obj
*.exe
*.dll
source/log/
README.txt
theme/大淀/
source/show_scene.csv
log/
source/browser_.hsp
